@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configurar las fuentes globales con Tailwind */
@font-face {
  font-family: 'Fuente'; /* Fuente para el cuerpo */
  src: url('./Assets/fonts/Textos.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuenteTitulos'; /* Fuente para los títulos */
  src: url('./Assets/fonts/Titulos.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply font-Fuente; /* Aplica la fuente para el cuerpo */
}

h1, h2, h3, h4, h5, h6 {
  @apply font-FuenteTitulos; /* Aplica la fuente para los títulos */
}

/* Configuración básica para la estructura de la página */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
