/* Importación de fuentes personalizadas */
@font-face {
  font-family: 'Fuente';
  src: url('/src/assets/fonts/Fuente.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuenteTitulos';
  src: url('/src/assets/fonts/FuenteTitulos.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Agregar las directivas de TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configurar la fuente global con Tailwind */
body {
  font-family: 'Fuente', sans-serif;
}

/* Configuración básica para la estructura de la página */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
